<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--cabecera de la página-->
    <div>
        <div id = "cabecera">
            <h1>
                SIGFISI
            </h1>
            <p>
                Sistema de Gestión de Eventos
            </p>
        </div>

        <div id = "menu">     
            <ul class = "nav">
                <li><a href="">INICIO</a>
                </li>
                <li><a href="">ACERCA DE</a>
                </li>

                <li><a href="">VER SOLICITUDES</a>
                    <ul>
                        <li><a href="">VER SOLICITUDES RECIBIDAS</a></li>
                        <li><a href="">VER SOLICITUDES APROBADAS</a></li>  
                    </ul>
                </li>
                <li><a href="">CONTACTANOS</a></li>   
            </ul>
        </div>
    </div>  
    
    <header class="main-header">
        <!--  <div class="background-overlay text-white py-5">
            <div class="container">
              <div class="row d-flex h-100">
                <div class="col-sm-6 text-center justify-content-center align-self-center">
                  <h1>
                    Taller Django para mujeres
                  </h1>
                  <p>Se implementará conceptos básicos sobre Python para lograr excelentes sistemas basados en este lenguaje.</p>
                  <a href="/eventos/4" class="btn btn btn-outline-info btn-lg text-white">
                    Leer más
                  </a>
                </div>
                <div class="col-sm-6">
                  <img src="./assets/django.png" class="img-fluid d-none d-sm-block" style="width: 70%;">
                </div>
              </div>
            </div>
          </div>-->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- PRIMER ITEM DEL CAROULSE -->
              <div class="background-overlay text-white py-5">
                  <div class="container">
                    <div class="row d-flex h-100">
                      <div class="col-sm-6 text-center justify-content-center align-self-center">
                        <h1>
                          Taller Django para mujeres
                        </h1>
                        <p>Se implementará conceptos básicos sobre Python para lograr excelentes sistemas basados en este lenguaje.</p>
                        <a href="/eventos/4" class="btn btn btn-outline-info btn-lg text-white">
                          Leer más
                        </a>
                      </div>
                      <div class="col-sm-6">
                        <img src="./assets/django.png" class="img-fluid d-none d-sm-block" style="width: 70%;">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- PRIMER ITEM DEL CAROULSE -->
            </div>
            <div class="carousel-item">
            <!-- SEGUNDO ITEM DEL CAROULSE -->
            <div class="background-overlay text-white py-5">
                <div class="container">
                  <div class="row d-flex h-100">
                    <div class="col-sm-6 text-center justify-content-center align-self-center">
                      <h1>
                        Taller Django para mujeres
                      </h1>
                      <p>Se implementará conceptos básicos sobre Python para lograr excelentes sistemas basados en este lenguaje.</p>
                      <a href="/eventos/4" class="btn btn btn-outline-info btn-lg text-white">
                        Leer más
                      </a>
                    </div>
                    <div class="col-sm-6">
                      <img src="./assets/django.png" class="img-fluid d-none d-sm-block" style="width: 70%;">
                    </div>
                  </div>
                </div>
              </div>
            <!-- SEGUNDO ITEM DEL CAROULSE -->
            </div>
            <div class="carousel-item">
              <!-- TERCER ITEM DEL CAROULSE -->
              <div class="background-overlay text-white py-5">
                  <div class="container">
                    <div class="row d-flex h-100">
                      <div class="col-sm-6 text-center justify-content-center align-self-center">
                        <h1>
                          Taller Django para mujeres
                        </h1>
                        <p>Se implementará conceptos básicos sobre Python para lograr excelentes sistemas basados en este lenguaje.</p>
                        <a href="/eventos/4" class="btn btn btn-outline-info btn-lg text-white">
                          Leer más
                        </a>
                      </div>
                      <div class="col-sm-6">
                        <img src="./assets/django.png" class="img-fluid d-none d-sm-block" style="width: 70%;">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TERCER ITEM DEL CAROULSE -->
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </header>        

    <div id ="contenido">
        <table>
            <thead>
                <tr>
                    <th>NRO</th><th>SOLICITUD</th><th>DEPENDENCIA</th><th>FECHA</th>
                </tr>

                <tr>
                    <th>01</th><th>CURSO TALLER ARDUINO DAY</th><th>CERSEU</th><th>13/02/2020</th>
                </tr>
                <tr>
                    <th>02</th><th>CONFERENCIA DE MATEMATICAS DISCRETAS</th><th>INSTITUTO DE INVESTIGACION</th><th>13/02/2020</th>
                </tr>
                <tr>
                    <th>03</th><th>CONFERENCIA DE HTML5</th><th>INSTITUTO DE INVESTIGACION</th><th>13/02/2020</th>
                </tr>
            </thead>
        </table>
        
    </div>
</body>
</html>
