<div class="col-sm-15 m-5">
    <div class="card">
        <div class="card-header">
            <strong>Escoger el tipo de evento</strong>
        </div>
        <div class="card-body omb_login">
          <div class="row omb_row-sm-offset-3 omb_socialButtons">
              	    <div class="col-xs-4 col-sm-2">
          		        <a href="/curso" class="btn btn-lg btn-block omb_btn-facebook">
          			        <i class=" visible-xs"></i>
          			        <span class="hidden-xs">Curso</span>
          		        </a>
          	        </div>
                  	<div class="col-xs-4 col-sm-2">
          		        <a href="/taller" class="btn btn-lg btn-block omb_btn-twitter">
          			        <i class=" visible-xs"></i>
          			        <span class="hidden-xs">Taller</span>
          		        </a>
          	        </div>
                  	<div class="col-xs-4 col-sm-2">
          		        <a href="/crearEvento" class="btn btn-lg btn-block omb_btn-google">
          			        <i class="visible-xs"></i>
          			        <span class="hidden-xs">Conferencia</span>
          		        </a>
          	        </div>
          		</div>

        </div>
    </div>
</div>
